**Time operations**

(readapted from http://www.saltycrane.com/blog/2008/11/python-datetime-time-conversions/)

In [1]:
from datetime import datetime
import time
import calendar

In [35]:
datetime.today()

datetime.datetime(2020, 4, 16, 12, 27, 59, 338531)

# conversions to strings

In [3]:
# datetime object to string
dt_obj = datetime.now()
date_str = dt_obj.strftime("%Y-%m-%d %H:%M:%S")
print(date_str)

2020-04-16 12:19:41

In [5]:
# time tuple to string
time_tuple = (2008, 11, 12, 13, 51, 18, 2, 317, 0)
date_str = time.strftime("%Y-%m-%d %H:%M:%S", time_tuple)
print(date_str)

2008-11-12 13:51:18

# conversions to datetime objects

In [6]:
# time tuple to datetime object
time_tuple = (2008, 11, 12, 13, 51, 18, 2, 317, 0)
dt_obj = datetime(*time_tuple[0:6])
print(repr(dt_obj))

datetime.datetime(2008, 11, 12, 13, 51, 18)

In [7]:
# date string to datetime object
date_str = "2008-11-10 17:53:59"
dt_obj = datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S")
print(repr(dt_obj))

datetime.datetime(2008, 11, 10, 17, 53, 59)

In [8]:
# timestamp to datetime object in local time
timestamp = 1226527167.595983
dt_obj = datetime.fromtimestamp(timestamp)
print(repr(dt_obj))

datetime.datetime(2008, 11, 12, 22, 59, 27, 595983)

In [9]:
# timestamp to datetime object in UTC
timestamp = 1226527167.595983
dt_obj = datetime.utcfromtimestamp(timestamp)
print(repr(dt_obj))

datetime.datetime(2008, 11, 12, 21, 59, 27, 595983)

# conversions to time tuples

In [10]:
# datetime object to time tuple
dt_obj = datetime.now()
time_tuple = dt_obj.timetuple()
print(repr(time_tuple))

time.struct_time(tm_year=2020, tm_mon=4, tm_mday=16, tm_hour=12, tm_min=20, tm_sec=33, tm_wday=3, tm_yday=107, tm_isdst=-1)

In [11]:
# string to time tuple
date_str = "2008-11-10 17:53:59"
time_tuple = time.strptime(date_str, "%Y-%m-%d %H:%M:%S")
print(repr(time_tuple))

time.struct_time(tm_year=2008, tm_mon=11, tm_mday=10, tm_hour=17, tm_min=53, tm_sec=59, tm_wday=0, tm_yday=315, tm_isdst=-1)

In [12]:
# timestamp to time tuple in UTC
timestamp = 1226527167.595983
time_tuple = time.gmtime(timestamp)
print(repr(time_tuple))

time.struct_time(tm_year=2008, tm_mon=11, tm_mday=12, tm_hour=21, tm_min=59, tm_sec=27, tm_wday=2, tm_yday=317, tm_isdst=0)

In [13]:
# timestamp to time tuple in local time
timestamp = 1226527167.595983
time_tuple = time.localtime(timestamp)
print(repr(time_tuple))

time.struct_time(tm_year=2008, tm_mon=11, tm_mday=12, tm_hour=22, tm_min=59, tm_sec=27, tm_wday=2, tm_yday=317, tm_isdst=0)

# conversions to timestamps

In [14]:
# time tuple in local time to timestamp
time_tuple = (2008, 11, 12, 13, 59, 27, 2, 317, 0)
timestamp = time.mktime(time_tuple)
print(repr(timestamp))

1226494767.0

In [15]:
# time tuple in utc time to timestamp
time_tuple_utc = (2008, 11, 12, 13, 59, 27, 2, 317, 0)
timestamp_utc = calendar.timegm(time_tuple_utc)
print(repr(timestamp_utc))

1226498367

# But also

In [19]:
import numpy as np

In [28]:
date = np.array('2015-07-04', dtype=np.datetime64)
date + np.arange(12)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
      dtype='datetime64[D]')

In [37]:
import pandas as pd
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
               '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
               '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
              dtype='datetime64[ns]', freq=None)

Please find more tools and examples
* https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html

<div class="alert alert-success">
    <b>Exercise:</b> Crete you own time series with date as index and floats as data
</div>